@import url("./reset.css");
@import url("./utility.css");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
/* General style */
:root {
  --bg-light: #fdf9ff;
  --text-black: #302e4d;
  --text-light: #504e70;
  --light-red: #ec1839;
}

#canvas1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Aside Start */

.menu-icon {
  /* padding: 5px 10px; */
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 40px;
}

div.aside {
  position: fixed;
  background-color: var(--bg-light);
  width: 270px;
  top: 20px;
  left: -270px;
  bottom: 0;
  font-family: "segoe ui", chopsic;
  font-weight: 600;
  border-right: 1px solid var(--bg-light);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: all 0.5s ease;
}

.logo {
  position: absolute;
  top: 20px;
  left: 5px;
  padding: 10px;
}

.aside ul.nav li {
  margin-bottom: 20px;
  display: block;
}
ul.nav li a {
  font-size: 1.3rem;
  text-transform: capitalize;
  border-bottom: 1px solid var(--bg-light);
  text-align: center;
  display: block;
  padding: 5px 15px;
}
ul.nav li img {
  display: inline-block;
  margin-right: 10px;
}
ul.nav li a.active {
  color: var(--light-red);
  font-size: 1.7rem;
  font-style: italic;
}

/* =====================Home Start===================== */
.home {
  /* background-color: transparent; */
  background-image: url("./../images/background2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  min-height: 100vh;
  padding: 70px 15px;
  display: flex;
  text-transform: capitalize;
  /* align-items: center; */
}
.home .container {
  margin: 0 auto;
}
.home .home-info {
  flex: 0 0 60%;
  max-width: 60%;
}

.home .home-info p {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5;
}

h3.hello {
  /* font-size: 1.8rem; */
  margin: 2rem 0;
}
h3.my-profession {
  font-size: 1.6rem;
  margin: 20px 0;
}
span.name {
  /* font-size: 1.9rem; */
  color: var(--light-red);
  font-family: "colinas personal use";
}
span.typing {
  color: var(--light-red);
}
.home .home-info .btn-hire-me {
  margin-top: 40px;
}

/* ================About Me Start================ */

section#about-me {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  /* justify-content: space-between; */
  background-color: transparent;
  height: 100vh;
  text-transform: capitalize;
}
section#about-me .txt {
  color: var(--text-light);
  font-weight: lighter;
}
section#about-me .two-lines {
  position: relative;
}

/* Portfolio Start */
.portfolio .section-title {
  margin-bottom: 30px;
}
.portfolio .section-title h2 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.portfolio .section-title p {
  text-transform: capitalize;
  font-size: 1.3rem;
  color: var(--text-black-900);
  font-weight: 700;
}
.portfolio .portfolio-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  text-align: center;
  margin-bottom: 2rem;
}
.portfolio .portfolio-item .portfolio-item-inner {
  background-color: var(--bg-light);
  border: 1px solid var(--bg-light);
  padding: 4px;
  border-radius: 20px;
  transition: transform 0.6s ease;
  cursor: pointer;
}
.portfolio .portfolio-item .portfolio-item-inner:hover {
  box-shadow: 0 0 20px rgba(48, 45, 77, 0.15);
  transform: scale(1.02);
}
.portfolio .portfolio-item .portfolio-item-inner img {
  width: 100%;
  border-radius: inherit;
}

/* ------------------------- Contact ------------------------- */

section#contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  /* align-items: center; */
  text-align: center;
  text-transform: capitalize;
}
section#contact .second-header {
  margin-top: -30px;
  font-size: clamp(1rem, 2vw + 0.7rem, 3.7rem);
}
section#contact .contact-info {
  color: var(--text-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section#contact .contact-info img {
  margin: 0 auto 20px;
}
section#contact .contact-item {
  flex-basis: calc(80% / 4);
}
section#contact form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
section#contact form > * {
  /* width: min(800px, 100%); */
  flex-basis: 90%;
  flex-grow: 1;
  border: none;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(48, 46, 77, 0.5);
}
section#contact form .half-width {
  flex-basis: 40%;
}
section#contact form > *:focus {
  outline: 1px solid blueviolet;
  box-shadow: 0 5px 20px rgba(48, 46, 77, 0.9);
}
section#contact form > button {
  flex-basis: initial;
  flex-grow: 0;
  cursor: pointer;
  font-style: italic;
  font-size: 1rem;
}
section#contact form > button:hover {
  transform: scale(1.06);
}
/* ------------------------- media Queryies ------------------------- */

@media (min-width: 1650px) {
  section#contact {
    justify-content: space-around;
  }
}

@media (min-width: 800px) {
  div.aside {
    left: 0 !important;
    top: 0;
  }
  #menu-icon {
    display: none;
  }
}
@media (max-width: 800px) {
  .section-p1 {
    padding: 20px 40px 30px;
  }
  .main-container {
    padding-left: 0px;
  }
}
@media (max-width: 900px) {
  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 1158px) {
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about .about-content .skills {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 871px) {
  .about .about-content .personal-info .info-item,
  .about .about-content .personal-info .info-item2 {
    flex: 0 0 100%;
    max-width: 100%;
    /* background-color: red; */
  }
  .about .about-content .personal-info .buttons {
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .about .about-content .education {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .portfolio .portfolio-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 800px) {
  .portfolio .portfolio-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
